#mobileMenu{
        display:none !important;
    }

    @media screen and(min-width: 1225px) {
            
    }
    
    @media screen and (min-width:768px) {
        /**body {
        min-width: 250px;
        background: url('/images/bgimage3.jpg');
        margin: 0;
        padding: 0;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat:no-repeat;
        background-position:top center;
        background-attachment:fixed;
    }*/
    #header h1 {
        font-size: 4em;
    }
    #header {
        height: 5em;
    }
    }
@media screen and (max-width: 1224px) {
    #uploadedPhotos {
        height: 20.6em !important;
    }

    #phtUploadDiv img {
        width: 90% !important;
        max-height:4em !important;
    }
    #email  {
        width:13em;
        padding:5px;
    }
    #password {
        padding:5px;
        width:13em;

    }
        .nav>li>a {
    padding-left: 15px;
    padding-right:10px;
    }
    .navbar {
        margin-top:0px !important;
    }
    #mobileMenu {
        width: 10em;
    }
    #container {
    width: 5em !important;
    margin-right: 8px;
    }
    #container .btn {
        margin-bottom: 0.30em;
    } 
}
@media (max-width:1080px) {

   /* #main {
        flex-grow: 1;
        float: none; overflow: hidden;
        display:inline-block;
       
    }
    #main img{
       max-width:100% !important;
       
    }*/
    
}
@media screen and (max-width: 768px) {
    #header {
        height:3em;
    }
    #header h1 {
        font-size: 2.5em;
    }
    #mobileMenu{
        display:block !important;
    }
    .navbar {
        min-height: 1.5em;
    }

    #navbar-links .a {
        width:250px;
    }
    #desktopMenu {
        display:none !important;
    }

    #ownedBlogsDropdwn {
        display: none;
    }
}
@media (max-width:1100px){

    
    #content {
        width:100% !important;
    }
    #header {
        margin-top: -20px !important;
    }
    
}

